// Card container
.card {
  background: #4e3a85;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

  width: 36.438rem;
  max-height: 42.063rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.14);
  }
}

.card img {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  object-fit: cover;
}

.card p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: left;
  color: white !important;
  padding: 0.5rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.card h3 {
  margin: 0.5rem 0 0.7rem 0;
  padding-left: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  text-align: left !important;
  font-family: Inter, sans-serif;
}

.card a {
  position: relative;
  margin-top: 1rem;
  display: inline-block;
  background: #604e93;
  color: #fff;
  padding: 0.5rem 1.2rem;
  padding-right: 13rem;
  padding-left: 13rem;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: background 0.2s;
  margin-bottom: 1rem;
  text-align: left;
  font-family: Inter, sans-serif;
  align-self: center;

  &:hover {
    background: #6d2fa6;
  }
}

.card a::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #2ee59d;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.quarter {
  font-family: Inter, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem !important;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left !important;
  vertical-align: middle;
  color: #d0d0d0 !important;
  margin-bottom: 0.7rem;
  width: 100%;
  align-self: flex-start !important;
  padding-left: 3rem !important;
  box-sizing: border-box;
  text-align: left !important;
}

.cardDivider {
  border: none;
  border-top: 1px solid #ffffff;
  width: 87%;
  opacity: 0.9;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card img,
.cardDivider {
  align-self: center;
}
