.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 2rem; // or whatever you want
  margin-left: 20rem;
  margin-right: 20rem;
}
